@import "../../global";

.button {
  font-size: 16px;
  font-weight: bold;
  color: $blue;
  background-color: $blue-dark;
  padding: 10px;
  border: 2px solid $blue;
  border-radius: $radius-small;
  cursor: pointer;
  transition: background-color .5s;

  @media (hover: hover) {
    &:hover {
      background-color: $blue-semi-dark;
    }
  }
}